body{
    background-image: url("../images/paper-background.jpg");
    margin: 15px;
    margin-top: 35px;
}

h1{
    color: #5d0f7c;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 60px;
}

h2{
    color: #5d0f7c;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 48px;
}

label{
    color: #000000;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:block;
    font-size: 32px;
}

.button {
    display:inline;
}

.large_list {
    background: rgb(250, 246, 233);
    height:400px;
    width:410px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
    display:block;
}

.large_choice {
    background: beige;
    color: purple;
    height:15px;
    width:410px;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
    display:block;
}

.section {
    float: left;
    text-align: center;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}