body{
    background-image: url("../images/paper-background.jpg");
    margin: 10px;
    margin-top: 20px;
}

h1{
    color: #5d0f7c;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 60px;
    margin-bottom: 10px;
}

h2{
    color: #5d0f7c;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center ; 
    font-size: 25px;
    margin-top: 5px;
}

label{
    color: #000000;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:block;
    font-size: 40px;
    margin-top: 10px;
    
}

.above_grid_text{
    text-align:center ;
}

.above_grid_button {
    margin: auto;
    background-color: beige;
    color: purple;
    padding: 5px 5px;
    font-size: 14px;
    display:inline;
    cursor: pointer;
    border-radius: 5px;
}

.dice_tray {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.choice_area{
    display: grid;
    place-items: center
}

.choice_decision {
    background: beige;
    color: purple;
    height:60px;
    width:500px;
    font-weight: bold;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 150%;
    overflow:scroll;
}

.choice_list {
    background: rgb(250, 246, 233);
    height:400px;
    width:500px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 150%;
    overflow:scroll;
}

.choice_button_row {
    display:flex; 
    justify-content: space-between;
    margin: 10px;
    gap: 15px;
}

.choice_button {
    background-color: beige;
    color: purple;
    font-size: 16px;
    display:inline;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    border: purple 1px solid
}
